# Python 3.11.7
# pip install -r requirements.txt
absl-py==2.3.1
asttokens==3.0.0
astunparse==1.6.3
catboost==1.2.8
category_encoders==2.7.0
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
et_xmlfile==2.0.0
executing==2.2.1
Faker==38.2.0
flatbuffers==25.9.23
fonttools==4.60.1
-e git+ssh://git@github.com/PhilKoGIT/ForestDiffusion.git@de2ce8f3e1d8b201021d776d03e6ea908103c001#egg=ForestDiffusion&subdirectory=Python-Package/base-ForestDiffusion
gast==0.6.0
geomloss==0.2.6
google-pasta==0.2.0
graphviz==0.21
grpcio==1.76.0
h5py==3.15.1
icecream==2.1.8
idna==3.11
joblib==1.5.2
keras==3.12.0
kiwisolver==1.4.9
libclang==18.1.1
libzero==0.0.8
lightgbm==4.6.0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
miceforest==6.0.5
ml-dtypes==0.4.1
ml_collections==1.1.0
namex==0.1.0
narwhals==2.11.0
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-nccl-cu12==2.27.5
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.3
patsy==1.0.2
pillow==12.0.0
plotly==6.4.0
POT==0.9.6.post1
protobuf==4.25.8
pyarrow==22.0.0
Pygments==2.19.2
pynvml==11.5.3
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
rich==14.2.0
rtdl==0.0.13
scikit-learn==1.2.1
scipy==1.15.3
sdv==0.0.0
seaborn==0.13.2
six==1.17.0
statsmodels==0.14.5
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.1
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.2.0
threadpoolctl==3.6.0
torch==1.13.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
wget==3.2
wrapt==2.0.1
xgboost==3.1.1
xlrd==2.0.2
